<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns='http://www.springframework.org/schema/beans'
       xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation='http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd'
       profile='test1'>

       <bean id="tank" class="com.ldy.v3springaop.Tank"/>
       <bean id="logproxy" class="com.ldy.v3springaop.LogProxy"/>

       <aop:config>
              <aop:aspect id="log" ref="logproxy">
                     <aop:pointcut id="onmove" expression="execution(void com.ldy.v3springaop.Tank.move())"/>
                     <aop:before method="before" pointcut-ref="onmove"/>
                     <aop:after method="after" pointcut-ref="onmove"/>
              </aop:aspect>
       </aop:config>
</beans>




